.footer{
    background-color: #2F6BA1;
    height: 2.5%;    
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */
}

.ftr-txt{
    /*background-color: #2F6BA1;*/
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: auto;
    width: 90%;
    padding: 10px;
    /* position: fixed; */
    /* width: 1200px; */
}

.ftr-txt2{

    background-color: #ececec;
    height: 0px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding-right:207px;
    padding-left:207px;
    padding-top:5px;
    padding-bottom:5px;
    width: 100px;
}
.ftr-txt3{

    background-color: #1c4161;
    height: 2.5%;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 0%;
    padding-top:0.01%;
}

.ftr-centered-bold-text{

    color: #ffff;
    letter-spacing: 3px;
    height: 30%;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 15%;

}

.ftr-right-bold-text{
    text-align: right;
    color: #ffff;
    letter-spacing: 3px;
    height: 30%;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 10%;

}
.ftr-centered-text{

    line-height: 1.4;
    color: #ffff;
    height: 30%;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 20%;

}



.equipo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2F6BA1;
    display: flex;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.miembro{
    margin: 10px;
    width: 20%;
}

.nombre{
    text-align: center;
    color: tan;
}

.foto{
    width: 100%;
}

.noticias{
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.noticias_contenedor{
    display: flex;
    margin: 6px;
    border: 6px;
    width: 588px;
    height: 240px;

}

.titulo_noticia{
    margin-top: 19.2px;
    margin-bottom: 19.2px;
    text-align: left;
}

.noticia_linea{
    color:white;
    width: 286px;
    margin-top: 8 px;
    margin-bottom: 8 px;
}

.noticia_parrafo{
height: 110px;
width: 288px;    
text-align: justify;
}

.noticia_link{
text-align: right;
font-size: 12px;
}

.noticias_imagen{
width: 187,5px;
height: 149,6px;    
padding-right: 30px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width:1200px;
    margin-left: auto;
    margin-right: auto;

}

/* .contenedor{

    height: 100%;
    background-color:rgb(21, 95, 231);
} */
/* Color de la cabecera */
.header{
    background-color: #2F6BA1;
    padding:0.1rem 0;
    margin-bottom: 10px;


}
/* Color de las letras del menu */
.header a{
    color:black;
    text-decoration:none;
}

.barra-superior{
    display: flex;
    align-items: center;
    height: 55px;
    

}
.titulo-principal{
    width:25%;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
    
}
.contenedor-menu{
    width: 75%;
}
.contenedor-menu ul{
    margin:0;
    padding:0;
    list-style: none;
    font-weight: bold;

}
.contenedor-menu ul li a{
    display: block;
    padding: 1rem 1rem;
    font-size: 20px;
}

.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

.menu-principal__item > a{

    text-decoration: none;
    
}
/* Color del menu con cursor */
.menu-principal__item > a:hover{

    font-size:  20px;
    text-decoration: none;
    background-color:#3A85C7;
    transition: all 0.5s linear;
    border-radius: 5px;

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
}


